.wrapper {
  color: grey;
}

.search-box {
  margin-bottom: 20px;
  border-radius: 5%;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.character {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

.character__image {
  margin-right: 10px;
}

.character__data {
  padding-top: 10px;
}

.character__data span {
  font-weight: bold;
}
