@import url("https://fonts.bunny.net/css?family=satoshi:400,500,700");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body {
  background-color: #fff;
  color: #111011;
  font-family: "Satoshi", sans-serif;
  line-height: 1.5;
}

.App {
  background-color: #f9f7f6;
  border-radius: 36px;
  margin: 10px 20px;
}

.inner {
  padding: 25px;
}

.App h1 {
  margin: 0 0 20px;
  color: #111011;
}

.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
}

.main-nav p {
  margin-bottom: 15px;
}

.main-nav li {
  position: relative;
  padding-left: 40px;
  padding-bottom: 10px;
}

.main-nav li:before {
  content: "🎃";
  position: absolute;
  left: 0;
  top: 0;
}

.main-nav a {
  color: inherit;
}
