@import url("https://fonts.bunny.net/css?family=satoshi:400,500,700");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body {
  box-sizing: border-box;
  background-color: #400275;
  color: #111011;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.App {
  width: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  background-color: #f9f7f6;
  border-radius: 36px;
  margin: 20px 20px;
}

.inner {
  padding: 25px;
}

header {
  background-color: #e6dcd7;
  border-radius: 10px;
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
  padding: 10px;
}

header h1 {
  margin: 0;
  font-size: 20px;
  color: #111011;
}

header h1::before {
  content: "🪄";
  display: inline-block;
  margin-right: 5px;
}
