@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body {
  background-color: #400275;
  color: #daedef;
  font-family: 'SUSE', sans-serif;
}

.App {
  margin: 10px;
}

.inner {
  padding: 15px;
}
